/* SantaBraza.module.css */
.container {
    /* Set the background image and center it */
    background-image: url('/images/andean-oasis/andean-oasis-ambient.png');
    background-position: center;
    background-repeat: no-repeat;
  }